body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black
}

header {
    background-color: #4CAF50;
    color: #4CAF50;
    padding: 20px;
    text-align: center;
}

a {
    color: black
}


